# Server Configuration
PORT=<YOUR_PORT_NUMBER>
NODE_ENV=<NODE_ENVIRONMENT>

# JWT Secrets
ACCESS_TOKEN_SECRET=<ACCESS_TOKEN_SECRET>

# PostgreSQL Database
DB_HOST=<DB_HOST>
DB_PORT=<DB_PORT>
DB_USER=<DB_USER>
DB_PASSWORD=<DB_PASSWORD>
DB_NAME=<DB_NAME>