# Server Configuration
PORT=<YOUR_PORT_NUMBER>
NODE_ENV=<NODE_ENVIRONMENT>

# JWT Secrets
ACCESS_TOKEN_SECRET=<ACCESS_TOKEN_SECRET>
REFRESH_TOKEN_SECRET=<REFRESH_TOKEN_SECRET>

# PostgreSQL Database
DB_HOST=<DB_HOST>
DB_PORT=<DB_PORT>
DB_USER=<DB_USER>
DB_PASSWORD=<DB_PASSWORD>
DB_NAME=<DB_NAME>

# Local development
RABBIT_MQ_HOST=<RABBIT_MQ_HOST>
RABBIT_MQ_PORT=<RABBIT_MQ_PORT>
RABBIT_MQ_USER=<RABBIT_MQ_USER>
RABBIT_MQ_PASSWORD=<RABBIT_MQ_PASSWORD>

# RabbitMQ Connection Settings
RABBIT_MQ_MAX_RECONNECT=<RABBIT_MQ_MAX_RECONNECT_ATTEMPTS>
RABBIT_MQ_RECONNECT_DELAY=<RABBIT_MQ_RECONNECT_DELAY>

# Queue Configuration
RETRY_ATTEMPTS=<RABBIT_MQ_RETRY_ATTEMPTS>
QUEUE_RESUME_PARSE=<RABBIT_MQ_QUEUE_RESUME_PARSE>
QUEUE_RESUME_RETRY=<RABBIT_MQ_QUEUE_RESUME_RETRY>
QUEUE_RESUME_FAILED=<RABBIT_MQ_QUEUE_RESUME_FAILED>
QUEUE_MAX_RETRIES=<RABBIT_MQ_MAX_RETRIES>
QUEUE_RETRY_DELAY=<RABBIT_MQ_RETRY_DELAY>
QUEUE_PREFETCH=<RABBIT_MQ_PREFETCH>

# Email service
EMAIL_SERVICE=<EMAIL_SERVICE>
EMAIL_SERVICE=<FROM_MAIL>
EMAIL_PASSWORD=<FROM_MAIL_PASSCODE_KEY>
EMAIL_FROM=<FROM_MAIL_TITLE_ORG_NAME>

# e.g. EMAIL_FROM=TalentSYNC <mfsi.ansuman@gmail.com>