# Server Configuration
PORT=<YOUR_PORT_NUMBER>
NODE_ENV=<NODE_ENVIRONMENT>

# JWT Secrets
ACCESS_TOKEN_SECRET=<ACCESS_TOKEN_SECRET>
REFRESH_TOKEN_SECRET=<REFRESH_TOKEN_SECRET>
JWT_EXPIRES_IN=<JWT_EXPIRY_TIME>

# PostgreSQL Database
DB_HOST=<DB_HOST>
DB_PORT=<DB_PORT>
DB_USER=<DB_USER>
DB_PASSWORD=<DB_PASSWORD>
DB_NAME=<DB_NAME>

# Email service
EMAIL_SERVICE=<EMAIL_SERVICE>
EMAIL_SERVICE=<FROM_MAIL>
EMAIL_PASSWORD=<FROM_MAIL_PASSCODE_KEY>
EMAIL_FROM=<FROM_MAIL_TITLE_ORG_NAME>

# e.g. EMAIL_FROM=TalentSYNC <mfsi.ansuman@gmail.com>

# Frontend URL
FRONTEND_URL=<FRONTEND_URL>
